.container {
  width: 1240px;
  margin: 0 auto;
}

body {
  background-color: #dfe2e3;
}
/* -----------------------------------------------------
--------------------------------------------------------
HEADER */

.margin {
  margin-right: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header input {
  width: 690px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
}
header button {
  font-size: 12px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #017480;
  color: #017480;
}
.vendsA {
  background-color: #017480;
  color: white;
}
.sedec {
  background-color: #c2175b;
  border: none;
  color: white;
}

/* -------------------------------------------------------
----------------------------------------------------------
MAIN */

.homei {
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
  height: 475px;
  background-image: url("./assets/img/home.jpg");
  background-size: cover;
  background-position: right;
}
.lot {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
.userimage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.articles {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.articleimg {
  width: 235px;
  height: 350px;
}
.backhome {
  margin-left: 100px;
  margin-top: 90px;
  width: 385px;
  height: 200px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px;
}
.self {
  background-color: #2eb0ba;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  color: white;
}
.pret {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 42px;
}
/* ----------------------------------
----------------------------------------
OFFERS */

.rayon {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
}
.rayonp {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 300px;
  padding: 30px;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
}
.offre {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.fiche {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
h4 {
  border-top: 1px solid lightgrey;
  margin-top: 40px;
  padding-top: 30px;
}
.buy {
  background-color: #2eb0ba;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: white;
}
/*------------------------------------------------
-----------------------------------------------------
FORMULAIRE */

.forme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 275px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #fcced2;
  margin-bottom: 20px;
}
.condition {
  color: #999999;
  font-size: 12px;
  width: 230px;
}
form button {
  background-color: #2eb0ba;
  color: white;
  border-radius: 5px;
  border: none;
  width: 275px;
  height: 40px;
}
label {
  color: #999999;
}
.checbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*/-------------------------------------------------------


----------------------
Publish*/
.contpublish {
  margin: 20px auto;
  background-color: white;
  padding: 20px;
}
.add {
  display: flex;
  flex-direction: row-reverse;
}
.ajoutez {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70px;
}

/* ----------------------------------------------
----------------------------------------------------

PAYMENT*/
h3 {
  color: lightgrey;
  margin: 10px;
}
.paye {
  background-color: white;
  width: 600px;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 20px;
}
.resum {
  display: flex;
  justify-content: space-between;
}
.border {
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
span {
  font-weight: bold;
}
